body {
  font-family: Garamond;
  background-color: #010409;
  color: white;
  border: 0px;
  margin: 0px;
}

img {
  width: 100%;
}

h1 {
  margin: 10px;
  color: white;
}

/* textarea {
  width: calc(100% - 65px);
  margin-left: 65px;
  box-sizing: border-box;
  background-color: #0d1117;
  border: 0px;
  color: white;
  font-size: 20px;
  height: 467px;
} */
textarea {
  /* width: calc(100% - 65px); */
  margin-left: 65px;
  box-sizing: border-box;
  background-color: #0d1117;
  border: 0px;
  color: white;
  font-size: 20px;
  height: 467px;
}

.side-bar {
  position: fixed;
  width: 55px;
  border: 3px solid red;
  height: 100%;
  top: 0;
}

.side-icon {
  width: 100%;
  height: 50px;
  padding: 0px;
  background-color: #010409;
  border: 0px;
}

.top {
  text-align: center;
}

button{
  border: 10px;
  padding: 5px;

}
