  <!DOCTYPE html>
  <html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text-Editing</title>
  </head>

  <body>
    <div class="side-bar">
      <button class="side-icon">
        <img src="https://i.pinimg.com/736x/ee/c0/71/eec071442e9a1b8e017c5a7c1853b880.jpg" alt="" class='navbar' />
      </button>
    </div>
    <div class="main-page">
      <div class="top">
        <h1>This is the name of the page</h1>
      </div>
      <form method="post">
        {% csrf_token %}    
        <div class="content">
          <textarea name="text" placeholder="Enter ur text here" id="" rows="3" style="width: 633px; height: 504px;"></textarea>
          <center>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="r p">
            <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punchuation</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="r s">
            <label class="form-check-label" for="flexSwitchCheckChecked">Remove Space</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="r c">
            <label class="form-check-label" for="flexSwitchCheckChecked">Remove Capital</label>
          </div>
        </center>
        </div>  
        <center>
          <button type="submit" class="submit">Submit</button>
        </center>
      </form>
    </div>
  </body>
</html>